.youtube {
    width: 100vw;
    height: 100vh;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtubeContainer {
    /*padding: 2%;*/
    flex: 10;
    width: 98%;
    height: 95% !important;
    border-radius: 1rem;
    background: #212121;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.youtube-video-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.youtube-video-container iframe {
    flex: 7;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.40));
    /*width: 100%;*/
    /*height: 100%;*/
}

.eventDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.eventDetails h2 {
    font-family: Lexend, sans-serif;
    font-size: 2.2vw !important;
    font-style: normal;
    font-weight: bolder;
}

.eventDetails p {
    font-family: Comfortaa, sans-serif;
    font-size: 1vw !important;
    font-style: normal;
    font-weight: 400;
}

.eventDetails span {
    font-weight: bolder;
}

.youtube-liveChat-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.youtube-liveChat-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.40));
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    flex: 1;
}

.eventLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 0.2rem;
}

.eventLogo h1 {
    text-shadow: 0 0 50px #000;
    font-family: Lexend, sans-serif;
    font-size: 1.5vw !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collaboration {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.collaboration h2 {
    color: white;
    font-family: Comfortaa, sans-serif;
    font-size: 0.5vw !important;
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    text-transform: capitalize;
}

.collaboration h2 span {
    font-size: 0.8vw !important;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}

.collaboration img {
    width: auto;
    height: 2.2vw !important;
    margin-left: 0.3rem;
    flex-shrink: 0;
}

.icacLogoInWatch {
    max-width: 5vw !important;
    height: auto !important;
    object-fit: contain;
}

@media (max-width: 1150px), (max-height: 400px) {
    .youtube {
        height: auto !important;
        min-height: 100vh !important;
    }

    .youtubeContainer {
        flex: 10;
        flex-direction: column;
    }

    .youtube-video-container {
        min-height: 70vh;
        flex: 3;
        margin: 0 2vw;
    }


    .eventDetails h2 {
        text-align: center;
        font-size: 7vw !important;
    }

    .eventDetails p {
        font-size: 3.8vw !important;
        text-align: center;
    }

    .youtube-liveChat-container {
        padding: 0 2vw 2vh 2vw;
    }

    .youtube-liveChat-container iframe {
        min-height: 50vh;
    }

    .eventLogo h1 {
        font-size: 0.8em !important;
    }

    .collaboration h2 {
        font-size: 0.3rem !important;
    }

    .collaboration h2 span {
        font-size: 0.5rem !important;
    }

    .collaboration img {
        width: auto;
        height: 3.5vw !important;
        margin-left: 0.3rem;
        flex-shrink: 0;
    }

    .icacLogoInWatch {
        max-width: 6vw !important;
        height: auto !important;
        object-fit: contain;
    }
}
