* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portalContainer {
    width: 100vw;
    height: 100vh;
    background: #2f2f2f !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.widget {
    border-radius: 1rem;
    background: #212121;
    width: 100%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.potralComponent {
    margin: 1vh;
}

.portalAetos {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw;
    gap: 1vh;
}

.portalAetos #head {
    color: #fff;
    font-family: Lexend, serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    flex: 3;
}

/*latestLecture*/
.portalAetos .latestLecture {
    flex: 20;
    border-radius: 1rem;
    display: flex;
}

.portalAetos .latestLecture .lectureInfo {
    color: white;
    border-radius: 1rem;
    background: rgba(33, 33, 33, 0.64);
    width: 75% !important;
    height: 55% !important;
    display: flex;
    flex-direction: row;
    align-self: end;
    margin: 1.5%;
    padding: 0 1.2vw;
    justify-content: space-between;
    align-items: center;
}

.portalAetos .latestLecture .lectureInfo .info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portalAetos .latestLecture .lectureInfo .info h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Lexend, serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
}

.portalAetos .latestLecture .lectureInfo .info h6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Comfortaa, serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 100;
    line-height: 2;
}

.portalAetos .latestLecture .lectureInfo .info h6 span {
    font-style: italic;
    font-size: 1.25vw;
    font-weight: 900;
}

.portalAetos .latestLecture .lectureInfo .dateOrLink {
    flex: 1;
    margin: 2%;
    min-height: 85%;
    background: rgba(255, 255, 255, 0.75);
    color: black !important;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portalAetos .latestLecture .lectureInfo .dateOrLink h1 {
    font-family: Lexend, serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;
}

.portalAetos .latestLecture .lectureInfo .dateOrLink h6 {
    font-family: Comfortaa, serif;
    font-size: 1vw;
    font-weight: 200;
}

.portalAetos .latestLecture .lectureInfo .dateOrLink a {
    text-decoration: none;
    color: black;
}

/*lecture Table*/
.portalAetos .lectureTable {
    flex: 19;
    height: 100%;
    color: white;
    font-family: Comfortaa, serif;
    overflow-y: auto;
    margin: 1% 0;
}

.portalAetos .lectureTable h2 {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 1rem;
}

.portalAetos .lectureTable table {
    width: 100%;
    border-collapse: collapse;
}

.portalAetos .lectureTable table tbody tr td {
    padding: 0.8%;
}

.portalAetos .lectureTable table tbody tr {
    border-bottom: 0.3vh solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 10%;
}

.portalAetos .lectureTable table tbody tr:hover {
    background: rgba(255, 255, 255, 0.05);
}

.portalAetos .lectureTable table tbody tr .lectureTitle {
    font-size: 1.35vw;
    font-weight: 300;
}

.portalAetos .lectureTable table tbody tr .lectureLecturer {
    font-size: 0.9vw;
    font-weight: 300;
}

.portalAetos .lectureTable table tbody tr .lectureLecturer span {
    font-weight: 700;
    font-size: 1.19vw;
    text-transform: capitalize;
}

.portalAetos .lectureTable table tbody tr .lectureDate {
    font-size: 1vw;
    font-weight: 300;
}

.portalAetos .lectureTable table tbody tr .lectureDate a {
    color: #b6d1ff;
}

.potralRight {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5vh;
}

/* Aetos Mind And Xploratus */
.potralRight .aetosMindAndXploratus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

.potralRight .aetosMindAndXploratus .subComponent {
    width: 100%;
    margin: 1%;
    border-radius: 1rem;
    flex: 1;
    background: #444;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.potralRight .aetosMindAndXploratus .subComponent h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: sideways;
    color: #fff;
    font-family: Lexend, serif;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    flex: 1;
    display: flex;
    align-items: center;
}

.potralRight .aetosMindAndXploratus .subComponent .content {
    border-radius: 1rem;
    background: #212121;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex: 9;
    padding: 2%;
    margin: 1%;
}

.potralRight .aetosMindAndXploratus .subComponent .content .teamInfo {
    flex: 2;
    color: #fff;
    font-family: Comfortaa, serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.potralRight .aetosMindAndXploratus .subComponent .content .teamInfo h2 {
    margin: 0.5rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.potralRight .aetosMindAndXploratus .subComponent .content .teamInfo .teamName {
    font-size: 1.7rem;
}

.potralRight .aetosMindAndXploratus .subComponent .content .teamInfo ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    flex: 2;
    color: #fff;
    font-family: Comfortaa, serif;
    font-weight: normal;
    font-size: 0.9rem;
    width: 85%;
}

.potralRight .aetosMindAndXploratus .subComponent .content .teamInfo ol {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    flex: 2;
    color: #fff;
    font-family: Comfortaa, serif;
    font-weight: normal;
    font-size: 1.4rem;
    width: 80%;
    gap: 1rem;
    list-style-type: none;
}

.potralRight .aetosMindAndXploratus .subComponent .content .eventInfo {
    flex: 1;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vw;
}

.header .eventLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 0.2rem;
}

.header .eventLogo h1 {
    text-shadow: 0 0 50px #000;
    font-family: Lexend, sans-serif;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header .eventLogo .collaboration {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.header .eventLogo .collaboration h2 {
    color: white;
    font-family: Comfortaa, sans-serif;
    font-size: 0.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: capitalize;
}

.header .eventLogo .collaboration h2 span {
    font-size: 0.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}

.header .eventLogo .collaboration img {
    width: auto;
    height: 1.8vw;
    margin-left: 0.3rem;
    flex-shrink: 0;
}

.header .eventLogo .collaboration .icacLogo {
    max-width: 3.5vw !important;
    height: auto !important;
    object-fit: contain;
}

.header .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Comfortaa, serif;
    font-style: normal;
    height: 100%;
}

.header .userInfo h3 {
    font-size: 0.9vw;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis !important;
}

.header .userInfo p {
    font-size: 0.8vw;
    font-weight: 300;
    text-overflow: ellipsis;
}

@media (max-width: 945px), (max-height: 570px) {
    .portalContainer {
        padding: 1vh 2.5vw;
        height: auto !important;
        min-height: 100vh;
        flex-direction: column;
    }

    .potralComponent {
        margin: 1vw 0;
        width: 100% !important;

    }

    .portalAetos {
        flex: 4;
        padding: 3vw;
    }

    .portalAetos #head {
        font-size: 1.7rem;
        flex: 3;
    }

    /*latestLecture*/
    .portalAetos .latestLecture {
        min-height: 40vh !important;
    }

    .portalAetos .latestLecture .lectureInfo {
        width: 100% !important;
        padding: 0.8rem;
    }

    .portalAetos .latestLecture .lectureInfo .info h1 {
        font-size: 6vw;
    }

    .portalAetos .latestLecture .lectureInfo .info h6 {
        font-size: 2vw;
    }

    .portalAetos .latestLecture .lectureInfo .info h6 span {
        font-size: 2.5vw;
    }

    .portalAetos .latestLecture .lectureInfo .dateOrLink {
        padding: 2%;
    }

    .portalAetos .latestLecture .lectureInfo .dateOrLink h1 {
        font-size: 12vw;
    }

    .portalAetos .latestLecture .lectureInfo .dateOrLink h6 {
        font-size: 4vw;
    }

    /*lecture Table*/
    .portalAetos .lectureTable {
        height: 100%;
        margin: 1%;
    }

    .portalAetos .lectureTable h2 {
        font-size: 4.5vw;
        margin: 1vh 0 2vh 0;
    }

    .portalAetos .lectureTable table tbody tr td {
        padding: 3% 0.8%;
    }

    .portalAetos .lectureTable table tbody tr {
        border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1) !important;
    }

    .portalAetos .lectureTable table tbody tr:active {
        background: rgba(255, 255, 255, 0.05);
    }

    .portalAetos .lectureTable table tbody tr .lectureTitle {
        font-size: 3.2vw;
    }

    .portalAetos .lectureTable table tbody tr .lectureLecturer {
        font-size: 2.5vw;
    }

    .portalAetos .lectureTable table tbody tr .lectureLecturer span {
        font-size: 3vw;
    }

    .portalAetos .lectureTable table tbody tr .lectureDate {
        font-size: 3vw;
    }

    .potralRight {
        flex: 3;
    }

    .potralRight .aetosMindAndXploratus {
        padding: 2%;
    }

    /* Aetos Mind And Xploratus */
    .potralRight .aetosMindAndXploratus .subComponent {
        flex: 1;
        padding: 2% 0;
    }

    .potralRight .aetosMindAndXploratus .subComponent h1 {
        font-size: 1.5rem;
    }

    .potralRight .aetosMindAndXploratus .subComponent .content .teamInfo h2 {
        font-size: 1rem;
    }

    .potralRight .aetosMindAndXploratus .subComponent .content .teamInfo ul {
        font-size: 0.8rem;
    }

    .potralRight .aetosMindAndXploratus .subComponent .content .teamInfo ol {
        font-size: 1rem;
        gap: 1.2rem;
    }

    .potralRight .aetosMindAndXploratus .subComponent .content .teamInfo .teamName {
        font-size: 1.4rem;
    }

    /*header*/
    .header {
        flex-direction: column;
        gap: 2vw;
    }

    .header .eventLogo {
        justify-content: center;
        padding: 0.8rem;
    }

    .header .eventLogo h1 {
        font-size: 4.5vw;
    }

    .header .eventLogo .collaboration {
        margin-left: 0.3rem;
    }

    .header .eventLogo .collaboration h2 {
        font-size: 0.9vw;
        line-height: 250%;
    }

    .header .eventLogo .collaboration h2 span {
        font-size: 1.5vw;
        line-height: 0;
    }

    .header .eventLogo .collaboration img {
        height: 3.5vw;
    }

    .header .eventLogo .collaboration .icacLogo {
        max-width: 6vw !important;
    }

    .header .userInfo {
        padding: 0.8rem;
    }

    .header .userInfo h3 {
        font-size: 3.5vw;
        line-height: 150%;
    }

    .header .userInfo p {
        font-size: 2vw;
    }

    .header .logout {
        width: 5vw !important;
    }

    .header .userImg {
        width: 7.5vw !important;
    }
}